<app-header titulo="Hoteles"></app-header>

<ion-content>
  <ion-tabs>


    <ion-tab-bar slot="bottom" color="primary">
  
      <ion-tab-button tab="hotel1">
        <ion-icon src="/assets/slides/hotel.svg"></ion-icon>
        <ion-label>Hotel 1</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="hotel2">
        <ion-icon src="/assets/slides/hotel1.svg"></ion-icon>
        <ion-label>Hotel 2</ion-label>
      </ion-tab-button>
  
  
      <ion-tab-button tab="hotel3">
        <ion-icon src="/assets/slides/hotel2.svg"></ion-icon>
        <ion-label>Hotel 3</ion-label>
      </ion-tab-button>
  
  
    </ion-tab-bar>
  
  
  </ion-tabs>
  
  
</ion-content>
