<ion-content>

  <ion-list>
    <ion-list-header>
      Lunes 2 de Marzo 2020
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="star" color="success"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Bienvenida</h2>
        <h3>9:00 a.m -- 10:00 a.m</h3>
        <p>Bienvenida a Junta de Dirección</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="star" color="success"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Inicio de Ponencias</h2>
        <h3>10:00 a.m -- 2:00 p.m</h3>
        <p>Comienzo de Actividades</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="star" color="success"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Comida</h2>
        <h3>2:00 p.m -- 4:00 p.m</h3>
        <p>Comida</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="star" color="success"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Temas Finales</h2>
        <h3>4:00 p.m -- 7:00 p.m</h3>
        <p>Ponencias finales del primer Día</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
