
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Descando y placer</ion-card-subtitle>
      <ion-card-title>Hotel opcion 2</ion-card-title>
    </ion-card-header>

    <ion-img src="/assets/slides/hotel1.svg"></ion-img>
  
    <ion-card-content>
      Opcion numero 1 de hotel conford Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7062.980301969613!2d-96.72881396746753!3d17.061861342533017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c7223fc058a945%3A0x6db8169fc84b6a92!2sHotel%20Parador%20San%20Miguel%20Oaxaca!5e0!3m2!1ses!2smx!4v1580945205024!5m2!1ses!2smx" width="240" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></ion-col>
</ion-row>
</ion-grid>
</ion-content>