<app-header titulo="Itinerario"></app-header>

<ion-content>
  <ion-tabs>


    <ion-tab-bar slot="bottom" color="primary">
  
      <ion-tab-button tab="itinerario1">
        <ion-icon src="/assets/slides/calendar.svg"></ion-icon>
        <ion-label>Dia 1</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="itinerario2">
        <ion-icon src="/assets/slides/calendar.svg"></ion-icon>
        <ion-label>Dia 2</ion-label>
      </ion-tab-button>
  
  
      <ion-tab-button tab="itinerario3">
        <ion-icon src="/assets/slides/calendar.svg"></ion-icon>
        <ion-label>Dia 3</ion-label>
      </ion-tab-button>
  
  
    </ion-tab-bar>
  
  
  </ion-tabs>
  
  
</ion-content>
