<ion-menu side="start" 
            menuId="primerMenu"
            contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
      <ion-menu-toggle>
        <ion-item routerLink="/inicio">
          <ion-icon  slot="start" src="/assets/slides/home.svg"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Descando y placer</ion-card-subtitle>
              <ion-card-title>Hotel opcion 2</ion-card-title>
            </ion-card-header>
        
            <ion-img src="/assets/slides/hotel1.svg"></ion-img>
          
            <ion-card-content>
              Opcion numero 1 de hotel conford Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item routerLink="/fre-time">
         <!--<ion-icon slot="start" name="calendar"></ion-icon> -->
         <ion-icon  slot="start" src="/assets/slides/calendar.svg"></ion-icon>
        
          <ion-label>Itinerario</ion-label>
        </ion-item>
        <ion-item routerLink="/hotel">
          <ion-icon  slot="start" src="/assets/slides/hotel.svg"></ion-icon>
          <ion-label>Hoteles</ion-label>
        </ion-item><ion-item >
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-label>Menu Item</ion-label>
        </ion-item>
      </ion-menu-toggle>
     
     
    </ion-list>
  </ion-content>
</ion-menu>