
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Descando y placer</ion-card-subtitle>
      <ion-card-title>Hotel opcion 3</ion-card-title>
    </ion-card-header>

    <ion-img src="/assets/slides/hotel2.svg"></ion-img>
  
    <ion-card-content>
      Opcion numero 1 de hotel conford Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>